/*
Description: Intégration d'une maquette avec Bootstrap
Auteurs : Benoit Laurent // Régis Nicolo
Contact : benoit.jacques.felix@gmail.com // regis.nicolo@hotmail.fr
Url: https://github.com/RQMplays/ // https://github.com/Regis-Nicolo/
*/

/* --- TABLE DES MATIERES ---
01. FONTS
02. GLOBAL
03. HEADER
04. NAV BAR
05. ARTICLES 
06. PAGINATION
07. FOOTER
 */

/*================== 01. FONTS =================================*/ 
@font-face {
 font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Bold.ttf);
}

@font-face {
 font-family: "Merriweather";
  src: url(../fonts/Merriweather-Light.ttf);
}

/*================= 02. GLOBAL ===== Benoit Laurent =============*/
[lang="fr"] {
    font-size: 16pt;
}

 body {
     background: url(../../img/bg.jpg) no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }

/*=================== 03. HEADER ==== Benoit Laurent =============*/
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 8rem 4rem 6rem 4rem;
    min-height: 100vh;
}
header > h1 {
    color: white;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 5rem;
    line-height: 1;
    letter-spacing: 0.075em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 2rem 0;
}

header > p {
    color: white;
    font-family: Georgia, Serif;
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 2.375;
    font-style: italic;
    text-align: center;
    margin: 0 0 2rem 0;
}

header > p > a {
    color: white;
    border-bottom: dotted 1px;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

header > ul {

}

ul.actions {
    list-style: none;
    text-align: center;
    padding: 0;
}
ul > li {
    display: inline;
}

ul > li > a {
    color: white;
}

ul > li > a {
    color: white;
}

header  a:hover {
    color: #18bfef;
    text-decoration: none;
}



/*=================== 04. NAV BAR ===== Benoit Laurent =============*/
nav {
    display: flex;
    justify-content: space-between;
    color: white;
    background: rgba(255, 255, 255, 0.175);
    width: calc(100% - 4rem);
    max-width: 72rem;
    height: 4rem;
    line-height: 4rem;
    margin: -4rem auto 0 auto;
    padding: 0 2rem 0 0;
    position: relative;
    overflow: hidden;
}

nav ul.links {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
nav ul.links li {
    display: block;
}
nav ul.links li a {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 2rem;
}

nav ul.icons {
    flex-grow: 0;
    flex-shrink: 0;
}

ul.icons li {
    display: inline-block;
}

/*================== 05. ARTICLES ===== Régis Nicolo ================*/


/*================== 06. PAGINATION ===== Régis Nicolo ===============*/


/*================== 07. FOOTER ======== Benoit Laurent =============*/