/*
Description: Intégration d'une maquette avec Bootstrap
Auteurs : Benoit Laurent // Régis Nicolo
Contact : benoit.jacques.felix@gmail.com // regis.nicolo@hotmail.fr
Url: https://github.com/RQMplays/ // https://github.com/Regis-Nicolo/
*/

/* --- TABLE DES MATIERES ---
01. HEADER
02. NAV BAR
03. ARTICLES 
04. PAGINATION
05. FOOTER
 */

 body {
     background: url(../../img/bg.jpg) no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }

/*=================== 01. HEADER ==== Benoit Laurent =============*/

h1 {
    font-size: 500%;
    text-align: center;
}


/*=================== 02. NAV BAR ===== Benoit Laurent =============*/


/*================== 03. ARTICLES ===== Régis Nicolo ================*/


/*================== 04. PAGINATION ===== Régis Nicolo ===============*/


/*================== 05. FOOTER ======== Benoit Laurent =============*/