/*
Description: Intégration d'une maquette avec Bootstrap
Auteurs : Benoit Laurent // Régis Nicolo
Contact : benoit.jacques.felix@gmail.com // mets ton mail ici Régis :p
Url: https://github.com/RQMplays/ // et ton GitHub là :p
*/


/* --- TABLE DES MATIERES ---
01. HEADER
02. INTRO
03. NAV BAR
04. ARTICLES 
05. PAGINATION
06. FOOTER
 */

/*=================== 01. HEADER ==== Benoit Laurent =============*/


/*=================== 02. INTRO ===== Benoit Laurent ============*/


/*=================== 03. NAV BAR ===== Benoit Laurent =============*/


/*================== 04. ARTICLES ===== Isaac Minot ================*/


/*================== 05. PAGINATION ===== Isaac Minot ===============*/


/*================== 06. FOOTER ======== Benoit Laurent =============*/